* {
  margin: 0;
}

.feature {
  background-color: rgb(129, 167, 237);
  background-size: cover;
  height: 100vh;

  position: relative;
}

h1 {
  background-color: rgb(129, 167, 237);
  font-size: 16;
}

.cta-box {
  position: absolute;
  bottom: 50px;
  left: 25px;
}

h2 {
  background-color: rgb(129, 167, 237);
  font-size: 16;
}

footer {
  background-color: rgb(129, 167, 237);
  font-size: 14;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgb(129, 167, 237);
}

.nav-home {
  color: white;
  padding: 10px 15px;
  font-size: 14px;
}

.nav-about {
  color: white;
  padding: 10px 15px;
  font-size: 14px;
}

.nav-breathing {
  color: white;
  padding: 10px 15px;
  font-size: 14px;
}

.nav-5things {
  color: white;
  padding: 10px 15px;
  font-size: 14px;
}

.nav-ice {
  color: white;
  padding: 10px 15px;
  font-size: 14px;
}

.navhome .search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin-right: 5px;
}

.search-button {
  padding: 5px 10px;
  background-color: rgb(129, 167, 237);
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.search-button i {
  font-size: 14px;
}

.nav-item:hover {
  font-size: larger;
}

.calming-mountains {
  background-image: url("./calming-mountain.jpeg");
}

.above-clouds {
  background-image: url("./above-clouds.jpeg");
}

.relaxing-snow {
  background-image: url("./relaxing-snow.jpeg");
}

section {
  display: block;
  unicode-bidi: isolate;
}

.post-meta {
  margin-top: 1.2rem;
  display: inline-block;
  max-width: 200px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  opacity: 0.5;
  color: white;
  border: 2px solid white;
  padding: 1rem 2rem;
  text-decoration: none;
  background-color: rgb(129, 167, 237);
}

.post-meta:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.post-meta_more {
  margin-top: 1.2rem;
  display: inline-block;
  max-width: 200px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  opacity: 1;
  color: white;
  border: 2px solid white;
  padding: 1rem 2rem;
  text-decoration: none;
  background-color: rgb(129, 167, 237);
}
