* {
  margin: 0;
}

.feature {
  background-color: blueviolet;
  background-size: cover;
  height: 100vh;

  position: relative;
}

.mossy-stones {
  background-image: url("./mossy-stones.jpeg");
}

.home {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.about {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.breathwork {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.miley {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.brr {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-item:hover {
  font-size: larger;
}

.calming-mountains {
  background-image: url("./calming-mountain.jpeg");
}

.above-clouds {
  background-image: url("./above-clouds.jpeg");
}
