* {
  margin: 0;
}

.feature {
  background-color: blueviolet;
  background-size: cover;
  height: 100vh;

  position: relative;
}

.mossy-stones {
  background-image: url("./mossy-stones.jpeg");
}

.container {
  background-color: aqua;
  font-size: 12px;
  font-family: lucida;
  height: 70px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  margin: auto;
}

.calming-mountains {
  background-image: url("./calming-mountain.jpeg");
}

.above-clouds {
  background-image: url("./above-clouds.jpeg");
}
